__pycache__/*
*.pyc
.vscode/*
.clangd/*
**.swp
.cache/*
python/*
Python/keys.json
data/json/**/current.json
data/csv/*
data/*.db
data/*.db-*
build/*
.vscode
compile_commands.json
release/
.firebase/*
.firebaserc
ecosystem-*
tags
